@model IEnumerable<WebPhuKien.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2>Nendoroid</h2>
@foreach(var SANPHAM in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
              <a href="@Url.Action("Details", "PhuKien", new {id = SANPHAM.Idsp})">
                 <img alt="@SANPHAM.Tensanpham" src="~/images/@SANPHAM.Hinhanh" width="200" />
                  
                  <div>
                      <br />
                      <h4 style="text-align:center">
                          @SANPHAM.Tensanpham
                      </h4>
                      <p></p>
                  </div>
                  <div class="ratings">
                      <p class="pull-right">15 reviews</p>
                      <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                      </p>
                  </div> 
         </div>                
    </div>


}
