@model IEnumerable<WebPhuKien.Models.LOAISANPHAM>

<p class="lead">Danh mục sản phẩm</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoLoai", "PhuKien", new { id = item.Idloai})" class="list-group-item">@item.Tenloai</a>
    }
</div>



