@model WebPhuKien.Models.LOAISANPHAM

@{
    ViewBag.Title = "DetailsLSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết loại</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenloai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Điều chỉnh", "EditLSP", new { id = Model.Idloai }) |
    @Html.ActionLink("Trở về trang trước", "LoaiSP")
</p>
