
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không Thể Truy Cập</title>
</head>
<body>
    <div> 
        <table align="center">
            <tr>
                <td>
                    <img src="~/images/error.jpg" alt="error" width="500" height="400"/>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="@Url.Action("Index","Phukien")"><img src="~/images/HomeButton.png" alt="error" width="180" height="180" /></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
