
@{
    ViewBag.Title = "QLAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>MỤC QUẢN TRỊ</h2>
<p>
    <button type="button">
        @Html.ActionLink("Đổi mật khẩu","Changepass")
    </button>
</p>
<p>
    <button type="button">
        @Html.ActionLink("Thêm quản trị viên", "CreateAd")
    </button>
</p>
